doctype html
html
    head
        title ABCD.com
        block scripts
        block style
    body
        nav#navbar.top
            ul
                div#logo
                    img(src="/static/images/logo.png")
                    | ABCD
                li #[a(href="/") Home] 
                li #[a(href="/") About]
                li #[a(href="/") Services]
                li #[a(href="/") Info]
                li #[a(href="/contact") Contact Us]
        block content
        footer#footer
            | Copyright © 2020  | ABCD.com |  All rights reserved       